@font-face {
	font-family: 'Noto Sans KR';
	src : local("NotoSansKR-Regular"),
	url("/public/static/fonts/noto-sans-kr-v27-korean-regular.woff2") format('woff2');
	font-weight: 400;
	font-style: normal ;
}

@font-face {
	font-family: 'Noto Sans KR';
	src : local("NotoSansKR-Regular"),
	url("/public/static/fonts/noto-sans-kr-v27-korean-500.woff2") format('woff2');
	font-weight: 500;
	font-style: normal ;
}

@font-face {
	font-family: 'Noto Sans KR';
	src : local("NotoSansKR-Regular"),
	url("/public/static/fonts/noto-sans-kr-v27-korean-700.woff2") format('woff2');
	font-weight: 700;
	font-style: normal ;
}

@font-face {
	font-family: 'Roboto';
	src : 
	url("./Roboto.woff2") format('woff2');
	font-style: normal ;
}



body {
    background: #f1f1f1;
    font-weight: 400;
    font-family: "맑은 고딕", sans-serif
}


.hello {
    color: red;
}


h1 {
   font-size: 20px;
   font-weight: 400;
   /* src 내 이미지 사용 */
   background: url("./bg-dot.png") no-repeat right center ;
   background-size: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    /* public 폴더 내 이미지 사용 */
    background: url("/public/static/images/arrow-alt-down.png") no-repeat right center ;
    background-size: 20px;
 }

.font-1 {
    font-family: "Noto Sans KR";
    font-weight: 400;
}

.font-2 {
    font-family: "Noto Sans KR";
    font-weight: 500;
}

.font-3 {
    font-family: "Noto Sans KR";
    font-weight: 700;
}

.font-4 {
    font-family: "Roboto";
    font-weight: 700;
}